/* 
COLORS

34626c light navy
839b97 light grey blue
cfd3ce cold grey
c6b497 sand

*/

*,
*:after,
*:before {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html {
	font-size: 62.5%;
}

body {
	box-sizing: border-box;
	font-family: sans-serif;
	font-weight: 400;
	font-size: 1.6rem;
	color: #777;
	line-height: 1.7;
}

.section-top {
	background-color: #34626c;
	height: fit-content;
}

.header {
	padding-top: 7rem;
	color: white;
	/* Need to center headshot */
	text-align: center;
}

.header__headshot {
	height: 15rem;
	clip-path: circle();
	animation: fadeIn 2s ease-out;
	transition: all 2s;
}

.header__headshot:hover {
	transform: rotate(360deg);
}

/* Re-usable */
.title {
	letter-spacing: 1rem;
	text-align: center;
	font-size: 1.6rem;
	text-transform: uppercase;
}

.section-top h1 {
	margin-top: 3rem;
}

.header__name,
.header__position {
	display: block;
}

.socials {
	margin-top: 4rem;
	padding-bottom: 2rem;
}

.socials a {
	margin-left: 3rem;
	margin-right: 3rem;
	width: 15rem;
}

.btn:link,
.btn:visited {
	position: relative;
	display: inline-block;
	text-decoration: none;
	padding: 1.5rem 4rem;
	border-radius: 5rem;
	transition: all 0.2s;
}

/* CONFUSING: Why do I need this hover styling to trigger the hover state of ::after */
.btn:hover {
	transform: translateY(-0.3rem);
	box-shadow: 0 10px 20px rgb(0, 0, 0, 0.2);
}

.btn:active {
	transform: translateY(-0.1rem);
	box-shadow: 0 0.5rem 1rem rgb(0, 0, 0, 0.2);
}

.btn::after {
	content: "";
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	border-radius: 5rem;
	transition: all 0.3s;
}

.btn:hover::after {
	transform: scale(1.3);
	/* opacity: 0; */
}

.btn--green::after {
	background-color: #c6b497;
}

.btn--green {
	background-color: #c6b497;
	color: white;
}

.move-in-left {
	animation: moveInLeft 2.5s ease-out;
}

.move-in-right {
	animation: moveInRight 2.5s ease-out;
}

.triangle-down {
	height: 7rem;
	background-color: #34626c;
	clip-path: polygon(0 0, 100% 0, 100% 20%, 50% 100%, 0 20%);
	margin-top: -0.5rem;
}

.section-mid {
    margin-top: 5rem;
}

.skills {
    text-align: center;
    margin-top: 5rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.skill {
    padding: 7rem;
    transition: all 0.2s;
}

.skill:hover {
    transform: rotate(5deg) scale(1.2);
}

.experience-section {
    color: white;
    background-color: #839b97;
    padding: 5rem;
    margin-top: 5rem;
}

.experience__container {
    display: flex;
}

.experience {
    margin-top: 7rem;
}

.experience__group {
    font-size: 1.5rem;
    margin-top: 4rem;
}

.experience__container .spacing {
    width: 35%;
    align-self: center;
    justify-self: center;
}

.experience__company {
    font-size: 3rem;
}

.experience__role {
    margin-top: 3rem;
}

.parking {
    height: 200px;
    margin-left: 15%;
}

.about-me-section {
    color: white;
    background-color: #34626c;
    padding: 5rem 20rem;
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

@keyframes moveInLeft {
	from {
		opacity: 0;
		transform: translateX(-1rem);
	}

	to {
		opacity: 1;
		transform: translateX(0);
	}
}

@keyframes moveInRight {
	from {
		opacity: 0;
		transform: translateX(1rem);
	}

	to {
		opacity: 1;
		transform: translateX(0);
	}
}
