$color-dark-grey: #34626c;
$color-light-blue: aqua;
$color-text-grey: #777;
$color-green: #c6b497;
$color-dark-green: #839b97;
$color-white: #fff;
$color-black: #000;

$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;

$default-font-size: 1.6rem;
